#cloud-config
ssh_deletekeys: true
ssh_keys:
  ed25519_private: |
    ${indent(4, ssh_host_private_key)}
  ed25519_public: |
    ${indent(4, ssh_host_public_key)}
ssh:
  emit_keys_to_console: false

runcmd:
  - systemctl restart ssh
