#cloud-config
write_files:
  - path: /etc/ssh/ssh_host_ed25519_key
    owner: root:root
    permissions: "0600"
    encoding: b64
    content: ${ssh_host_private_key_b64}

runcmd:
  - ssh-keygen -y -f /etc/ssh/ssh_host_ed25519_key > /etc/ssh/ssh_host_ed25519_key.pub
  - chmod 0644 /etc/ssh/ssh_host_ed25519_key.pub
  - systemctl restart ssh
