#cloud-config
ssh_deletekeys: true
ssh_keys:
  ed25519_private: |
    ${indent(4, ssh_host_private_key)}
  ed25519_public: |
    ${indent(4, ssh_host_public_key)}
ssh:
  emit_keys_to_console: false

write_files:
  - path: /etc/sudoers.d/90-openvpn-automation
    owner: root:root
    permissions: "0440"
    content: |
      ${openvpn_admin_username} ALL=(ALL:ALL) NOPASSWD: ALL

runcmd:
  - [visudo, -cf, /etc/sudoers.d/90-openvpn-automation]
  - [systemctl, restart, ssh]
